@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,400&display=swap');
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    line-height: 1.1em;
    background-color: #f2ece9;
}

.page {
    min-height: 100%;
    height: 100%;
    margin: auto 100px;
}

.header {
    margin: auto;
    height: 216px;
    vertical-align: middle;
    margin: auto;
    padding: 20px;
    text-align: left;
    background-image: url("images/data-analysis.jpeg");
    background-repeat: no-repeat;
    color: #010;
}

.sidebar {
    /* position: absolute; */
    float: right;
    margin-top: 35px;
    margin-right: 30px;
    padding: 35px;
    width: 430px;
    height: 500px;
    color: #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(241, 241, 241, 0.75);
    /* border-radius: 12px; */
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    font-size: 95%;
    height: 35px;
}

.header-content {
    float: left;
    font-size: 2em;
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: #010; */
    /* text-shadow: 1px 1px 1.5px #010; */
}

.nametag {
    margin-left: 20px;
    padding: 10px;
    box-shadow: 1px 1px 8px;
    background-color: rgba(221, 221, 221, 0.5);
}

.topnav {
    float: left;
    top: 250px;
    width: fit-content;
    display: flexbox;
    overflow: hidden;
    background-color: #ddd;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
}

.topnav li {
    float: left;
    font-size: 95%;
    width: 150px;
    border-right: 1.5px solid rgba(114, 159, 207, 0.33);
}

.topnav li:last-child {
    border-right: none;
}

.topnav li>a {
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.topnav li>a:hover {
    background-color: rgba(114, 159, 207, 0.67);
    color: #f2f2f2;
    border-bottom-left-radius: -15px;
}

.topnav a.active {
    background-color: rgba(114, 159, 207, 0.67);
    color: white;
}

.column {
    float: left;
    width: 50%;
    padding: 25px;
}

.column ul {
    list-style-type: circle;
}

.column li {
    height: 35px;
}

.row {
    background-color: rgba(114, 159, 207, 0.33);
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}