// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$brand-color: rgb(22, 37, 54);
$alternate-color: rgba(211, 181, 151, 0.2);
$header-color: rgba(211, 181, 151, 0.9);
$brand-text-color: #dee5fd;
$text-color: #333;
$background-color: rgba(220, 218, 218, 0.8);

* {
  box-sizing: border-box;
}

body {
  position: relative;
  // background-color: rgba(245, 245, 245, 0.8);
  background-color: $background-color;
  margin: 0;
  font: 1.1em Arial, Helvetica, Verdana, sans-serif;
  color: $text-color;
  line-height: 1.6;
}


hr {
  border-top: 0.3px dotted $brand-color;
}

ul {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: $text-color;
}

.active {
  color: $brand-color;
  font-weight: 600;
  background-color: $header-color;
  box-shadow: 0 1px 3px $alternate-color, 0 1px 2px $header-color;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 1 / 13;
  grid-row: 1;
  padding: 16px;
  font-size: 16pt;
  color: $header-color;
}

article {
  grid-column: 4 / 13;
  grid-row: 2;
  padding: 64px 60px 40px 64px;
}

nav {
  background-color: $alternate-color;
  grid-column: 1 / 4;
  grid-row: 2;
  padding: 15px;
}

footer {
  grid-column: 1 / 13;
  grid-row: 3;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

header,
footer {
  background-color: $brand-color;
  height: 64px;
  color: $header-color;
}

header,
article {
  box-shadow: 5px 0.5px 5px $alternate-color;
}

article,
nav {
  height: 100vh;
}

nav {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-right: 1px dotted $alternate-color;
}


header>a {
  display: inline;
  margin: 0;
  text-decoration: none;
  padding: 8px 16px;
  color: $header-color  !important;
}

header>a:hover {
  color: white !important;
}

header>a:visited {
  color: reset;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  display: block;
  margin: 0;
  text-decoration: none;
  padding: 8px 16px;
  color: $text-color;
}

nav li a:hover {
  font-size: 1em;
  font-weight: bold;
  background-color: $header-color;
  color: $brand-color;
}

nav li a:visited {
  color: reset;
}

article a:hover {
  color: $brand-color;
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  body {
    font-size: 0.9em;
  }

  header {
    grid-column: 1 / 13;
    grid-row: 1;
    height: max-content;
    font-size: 0.9em;
  }

  header>a {
    display: block;
  }

  nav {
    grid-column: 1 / 13;
    grid-row: 2;
    height: 100%;
  }

  article {
    grid-column: 1 / 13;
    grid-row: 3;
    padding: 10px;
    height: 100%;
  }

  footer {
    grid-column: 1 / 13;
    grid-row: 4;
    height: max-content;
  }
}