// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import "main";

header {
  position: fixed;
  width: 75%;
}

header>span>a {
  color: $header-color  !important;
}

nav {
  position: fixed;
  top: 64px;
  font-size: 12pt;
  line-height: 1.2;
  height: 100vmax;
  width: 360px;
}

@media only screen and (max-width: 768px) {
  header {
    position: relative;
    width: 100%;
  }

  nav {
    display: none;
  }

}