---
layout: default
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
</head>

<body>
    <div class="container">
        <header>A space for my projects, &ldquo;experiments&rdquo;, and random musings</header>
        <nav>
            <!-- <h2 style="text-align: center;">Dr Adamu Onu</h2> -->
            <!-- <hr> -->
            <ul>
            {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.link }}">{{ item.icon }}&nbsp;{{ item.name }}</a>
                </li>
            {% endfor%}
            <br><br>
            {% if page.sidebar %}
                {% for item in site.data.sidebar %}
                <li>
                    <a href="{{ item.link }}">{{ item.icon }}&nbsp;{{ item.name }}</a>
                </li>
                {% endfor %}
            {% endif %}
            </ul>
        </nav>
        <article class="content">
            {{ content }}
        </article>
        <footer class=" footer">Personal Webpage of Dr Adamu Onu</footer>
    </div>
</body>

</html>